<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>

		<listener class-name="extentlisteners.ExtentListeners" />

	</listeners>

	<test thread-count="5" name="FlipboardLoginTest">
		<classes>
			<class name="testcases.FlipboardLoginTest" />

		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="Title Section Test">
		<classes>
			<class name="testcases.TitleSectionTest" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
